@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bank Of BIT</h1>
    <p class="lead">The Bank of BIT MVC project allows a user interface to maintain Bank Data</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Data Management</h2>
        <p>
            Through user-friendly views, data within the bank of BIT database can easily be updated
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Pattern Based</h2>
        <p> The Bank of BIT is developed by utilizing MVC, State and Singleton Patterns to help ensure
            that the data is always acurate and supports the business rules
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Web Based</h2>
        <p>Through the controllers and views, the data is presented through a web browser</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>